
# python
*.pyc

# virtualenv/flask stuff
bin
lib
include
local
.Python

# grunt/npm stuff
node_modules
src/static/jsmin
generated

# sass
.sass-cache
src/static/styles/style.min.css

# libraries
!src/static/lib

